body {
    background-color:#ecf0f1;
}
div {
    
    border:);
    margin: 5px;
}
h1 {
    color: #2c3e50;
    text-align: center;
}
p {
    color: #16a085c;
    font-size: 22px;
    text-align: justify;
    margin: 20px;

}
img {
    height: 350px; 
    width: 450px;
    border-radius: 40%;
    display: block;
    margin: auto;
}